# Core dependencies
opencv-python>=4.5.0
Pillow>=9.0.0
olefile>=0.46
tk>=0.1.0
numpy>=1.20.0
screeninfo>=0.8

# Optional dependencies
matplotlib>=3.5.0  # For advanced UI elements

pygame>=2.0.0
mutagen>=1.45.0
winsdk>=1.0.0b9
pywin32>=300
pypiwin32>=223
pystray>=0.19.0

keyboard>=0.13.0  # For keyboard shortcuts
requests>=2.25.0  # For network requests
openmeteo_requests>=1.0.0  # For weather data requests
pandas>=1.2.0  # For data manipulation